.header {
    height: 60px;
    padding: 0 5%;
    background: black;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 20;
    .header__logohome {
        display: inline-block;
        padding: 6px 0;
        position: relative;
        .header__logohome_name {
            display: inline-block;
            color: white;
            p[name="name"] {
                font-weight: bold;
                font-size: 24px;
                line-height: 24px;
            }
            p[name="description"] {
                font-size: 14px;
                line-height: 14px;
            }
        }
        .header__logohome_cover {
            position: absolute;
            width: auto;
            height: auto;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            cursor: pointer;
        }
    }
    .header__menu {
        display: flex;
        float: right;
        height: 100%;
        transition: all ease 1s;
        li {
            list-style: none;
            display: inline-block;
            width: 120px;
            text-align: center;
            a {
                color: #ffffffbd;
                text-decoration: none;
                line-height: 60px;
                transition: all 0.2s ease;
                &:hover {
                    animation: font_bubble 0.3s 0s 1 forwards;
                    color: #ffffff;
                }
            }
            button {
                width: 100%;
                padding: 7px;
                text-transform: uppercase;
                margin-top: 15px;
                font-weight: bold;
                border: none;
            }
        }
        .header__menu_info {
            width: 150px;
            display: flex;
            position: relative;
            img {
                border-radius: 50%;
                margin-right: 5px;
                margin-top: 9px;
            }
            span {
                margin-top: 18px;
                color: #ffffffbd;
            }
            .header__menu_info_cover {
                position: absolute;
                width: auto;
                height: auto;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                cursor: pointer;
                &:hover ~ span {
                    color: white;
                }
            }
        }
        li + li {
            margin-left: 3%;
        }
    }
    .header__bar {
        float: right;
        height: 100%;
        display: none;
        label {
            &:hover i{
             color: white;   
            }
            i {
                font-size: 32px;
                margin-top: 15px;
                color: #ffffffbd;
                transition: all linear .2s;
            }
        }
    }

    #checkbox_menu {
        display: none;
        z-index: -9999;
        &:checked ~ .header__menu {
            left: 0;
            background: black;
            transition: 0.5s;
        }
    }
}


/************MEDIA***************/
@media screen and (max-width: 1000px) {
    .header {
        .header__menu {
            position: absolute;
            left: calc(100% + 5%);
            width: 100%;
            height: 300px;
            top: 60px;
            flex-direction: column;
            border-radius: 0 0 10px 10px;
            li {
                width: 100%;
                &:first-child{
                    margin-top: 50px;
                }
            }
            li+li{
                margin-left: 0;
            }
            .header__menu_info{
                position: absolute;
                top:0;
                left: 50%;
                transform: translateX(-50%);
            }
           
        }
        .header__bar {
            display: block;
        }
    }
}
