.landing {
    background: black;
    .landing__welcom {
        position: relative;
        height: calc(100vh - 60px);
        color: white;
        .landing__welcom_header {
            position: absolute;
            font-size: 30px;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
        }
        .landing__welcom_name {
            font-size: 7em;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -55%);
            font-weight: bold;
            background: -webkit-linear-gradient(#ec5eff, #5c9aff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .landing__product {
        border-radius: 40px 40px 0 0;
        background: white;
        .landing__product_show {
            height: 100vh;
            position: relative;
            .landing__product_wrapper{
                position: absolute;
                left: 50%;
                top:50%;
                transform: translate(-50%,-50%);
                margin: auto;
                padding-top: 2vh;
                text-align: center;
                display: inline-block;
                margin: auto;

                p {
                    font-size: 52px;
                    font-weight: bold;
                    margin-bottom: 1vh;
                }
                div{
                    a{
                        text-decoration: none;
                        color:#5c9aff;
                    }
                }
                .landing__product_slideshow img {
                    width: 80vw;
                    max-width: 700px;
                }
            }
        }
        button {
            display: inline-block;
            margin: 0 auto;
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 18px;
            border: none;
            background: black;
            color: white;
            border-radius: 100px;
        }
    }
}

/******MEDIA********/
@media screen and (max-width: 1000px) {
    .landing {
        .landing__welcom {
            .landing__welcom_header {
                top: 20%;
            }
        }
    }
   
}
