<div class="footer">
    <div class="footer_wrapper">
        <div class="footer__wrapper_caterogy">
            <li><a href="">iPhone</a></li>
            <li><a href="">iPad</a></li>
            <li><a href="">Macbook</a></li>
            <li><a href="">iMac</a></li>
            <li><a href="">iWatch</a></li>
            <li><a href="">Phụ kiện Apple chính hãng</a></li>
        </div>

        <div class="footer__wrapper_caterogy">
            <li><a href="">Danh sách các chi nhánh</a></li>
            <li><a href="">Chính sách mua hàng</a></li>
            <li><a href="">Chính sách bảo hành</a></li>
            <li><a href="">Chính sách đổi trả</a></li>
        </div>

        <div class="footer__wrapper_caterogy">
            <li><a href="">Góp ý cho chúng tôi</a></li>
            <li><a href="">Tuyển dụng</a></li>
            <li><a href="">Về chúng tôi</a></li>
            <li>
                <p>Firefly Store</p>
            </li>
        </div>
    </div>
    <p class="copyright">Copyright 2021</p>
</div>
<link rel="stylesheet" href="/assets/stylesheets/footer_style.css">