<div class="header">
    <div class="header__logohome ">
        <img src="/assets/img/logo.png" alt="logo_icon" height="40px" width="auto">
        <div class="header__logohome_name">
            <p name="name">FIREFLY</p>
            <p name="description">Apple Reseller</p>
        </div>
        <div class="header__logohome_cover"></div>
    </div>
    <input type="checkbox" name="menu" id="checkbox_menu">
    <div class="header__menu">
        <li><a href="#">Sản phẩm</a></li>
        <li><a href="#">Tin tức</a></li>
        <li><a href="#">Trợ giúp</a></li>
        <li><a href="#">Liên hệ</a></li>
        <!-- <li class="header_menu_loginbtn"><button>Đăng nhập</button></li> -->
      
        <li class="header__menu_info">
            <div class="header__menu_info_cover"></div>
            <img src="/assets/img/customer/customer.png" height="40px" alt="">
            <span>Customer</span>
        </li>
    </div>

    <div class="header__bar">
        <label for="checkbox_menu">
            <i class="fas fa-bars"></i>
        </label>
    </div>
</div>
<link rel="stylesheet" href="/assets/stylesheets/header_style.css">