<div class="landing">
    <div class="landing__welcom">
        <p class="landing__welcom_header">Chào mừng đến với</p>
        <p class="landing__welcom_name">Apple Reseller Store</p>
    </div>
    <div class="landing__product">
        <div class="landing__product_show">
            <div class="landing__product_wrapper">
                <p>iPhone</p>
                <div>
                    <a href="#">Thêm tin tức</a>
                    <span> | </span>
                    <a href="#">Mua sản phẩm</a>
                </div>
                <br>
                <div class="landing__product_slideshow">
                    <img src="/assets/img/landing/iphone1.jpg" alt="">
                </div>
                <button>Review sản phẩm</button>
            </div>
        </div>

        <div class="landing__product_show">
            <div class="landing__product_wrapper">
                <p>iPad</p>
                <div>
                    <a href="#">Thêm tin tức</a>
                    <span> | </span>
                    <a href="#">Mua sản phẩm</a>
                </div>
                <br>
                <div class="landing__product_slideshow">
                    <img src="/assets/img/landing/ipad1.jpeg" alt="">
                </div>
                <button>Review sản phẩm</button>
            </div>
        </div>

        <div class="landing__product_show">
            <div class="landing__product_wrapper">
                <p>Macbook</p>
                <div>
                    <a href="#">Thêm tin tức</a>
                    <span> | </span>
                    <a href="#">Mua sản phẩm</a>
                </div>
                <br>
                <div class="landing__product_slideshow">
                    <img src="/assets/img/landing/macbook1.jpg" alt="">
                </div>
                <button>Review sản phẩm</button>
            </div>
        </div>

        <div class="landing__product_show">
            <div class="landing__product_wrapper">
                <p>iMac</p>
                <div>
                    <a href="#">Thêm tin tức</a>
                    <span> | </span>
                    <a href="#">Mua sản phẩm</a>
                </div>
                <br>
                <div class="landing__product_slideshow">
                    <img src="/assets/img/landing/imac1.png" alt="">
                </div>
                <button>Review sản phẩm</button>
            </div>
        </div>

        <div class="landing__product_show">
            <div class="landing__product_wrapper">
                <p>iWatch</p>
                <div>
                    <a href="#">Thêm tin tức</a>
                    <span> | </span>
                    <a href="#">Mua sản phẩm</a>
                </div>
                <br>
                <div class="landing__product_slideshow">
                    <img src="/assets/img/landing/iwatch1.png" alt="">
                </div>
                <button>Review sản phẩm</button>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/assets/stylesheets/landing.css">